@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,
html,
#root {
  height: 100%;
  width: 100%;
}

@layer components {
  .layout {
    grid-template-rows: 50px auto;
    grid-template-columns: 200px auto;
  }
}
